# Exploratory Data Analysis

In [1]:
import pandas as pd

df = pd.read_csv('Data/Gold/main.csv')

df.head()

,playerID,year,stint,tmID,pos,GP,G,A,Pts,PIM,...,PPA_per_game_score,SHG_per_game_score,SHA_per_game_score,GWG_per_game_score,SOG_per_game_score,award_count_per_game_score,+/-_score,stint_score,overall_score_vs_prev_stint,teammates_same_nationality
0,aaltoan01,1997,1,ANA,C,3.0,0.0,0.0,0.0,0.0,...,0.000000,0.5,0.5,0.000000,0.000000,0.5,0.857143,2.357143,NaN,NaN
1,aaltoan01,1998,1,ANA,C,73.0,3.0,5.0,8.0,24.0,...,0.999927,0.5,0.5,0.000000,0.390664,0.5,0.071429,5.904306,NaN,NaN
2,aaltoan01,1999,1,ANA,C,63.0,7.0,11.0,18.0,26.0,...,0.000000,0.5,0.5,0.999937,0.999999,0.5,0.000000,8.079260,NaN,NaN
3,aaltoan01,2000,1,ANA,C,12.0,1.0,1.0,2.0,2.0,...,0.000000,0.5,0.5,0.000000,0.907407,0.5,1.000000,5.621846,NaN,NaN
4,abdelju01,2007,1,DET,L,2.0,0.0,0.0,0.0,2.0,...,0.500000,0.5,0.0,0.000000,1.000000,0.5,0.423077,4.423075,NaN,NaN